*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main{
  background-image: url("./assets/colder.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  transition: 0.4 ease-out;
}
.search{
  text-align: center;
}
.input{
  margin-top: 20px;
  width: 400px;
  padding: 12px;
  padding-left: 20px;
  border: 1px solid #999;
  outline: none;
  border-radius: 18px;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  
}
.main-inform{
  display: flex;
  justify-content: space-between;
  margin:  20%  20px;
  color: rgb(249, 247, 247);
}
.city-inform p{
    font-size: 32px;
    font-weight: 600;
}
.city-inform h1{
    font-size: 70px;
}

.city-inform2 h3{
  font-size: 25px;
  margin: 80px 0;
  transform: rotate(-90deg);
}
.inform{
  border-radius: 5px;
  display: flex;
  justify-content:space-between;
  margin: 50px;
  width: 85%;
  border: 1px solid #777;
  padding: 10px;
  color: #fff;
  align-items: center;
  text-align: center;
  background: linear-gradient( rgba(141, 126, 126, 0.5),rgba(141, 126, 126, 0.5) )
  
}
.inform1{
  padding:20px;
}
.inform1 {
    font-size: 20px;
}